html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.calculator-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    max-width: 400px;
    background-color: white;
    border-radius: 15px;
    margin: 10px;

}

.calculator-display {
    flex: 1;
    text-align: right;
    margin: 0 5px;
}

.input-container {
    display: flex;
    flex-direction: row;
    width: 20%;
}

.input-button {
    background-color: royalblue;
    border: none;
    border-radius: 25px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 15%;
}

