html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A9CEF4;
    font-family: Arial, sans-serif;
}

.calculator-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20%;
    background-color: #FFF1D0;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;

}

.calculator-display {
    display: flex;
    flex-direction: row;
    width: 90%;
    flex: 1;
    text-align: right;
    margin: 0 5px;
    font-size: 1.5em;
    gap: 10px;
}

.input-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}


.input-button {
    text-align: center;
    background-color: #086788;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;
    cursor: pointer;
    width: 15%;
    user-select: none;
}

#equal-button {
    background-color: #FF7F11;
}


.operation-button {
    background-color: #A31621;
}